<a href="https://colab.research.google.com/github/jasminekaur7/python/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
!git clone https://github.com/jasminekaur7/python.git

Cloning into 'python'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (3/3), done.

Q1. L is a list defined as L= [11, 12, 13, 14].
(i) WAP to add 50 and 60 to L.

In [7]:
import string as s
import random as r
print("String  -->", s.ascii_letters)
for i in range(0, 100):
  length = r.randint(6, 8)
  random_string = ''.join(r.choice(s.ascii_letters) for _ in range(length))
  print(random_string)

String  --> abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
GdymoBSu
rzADhgW
ucFopQ
LCgugBp
cCLyJiE
KMXVgfkm
efwudXRi
KmjbyUr
EYsKYmK
qnEeivdH
qxWsMYlt
pESsnQDX
FynXOx
UAuAqQc
VOIIruU
qWFffu
eIYuyth
bmLGWDn
QLqUqbCD
sJYxbvL
UoSAwKS
oXpCXeUN
zFniDaA
beOVagXV
YPySVPX
jCLseK
XrEaYK
khgZkDQ
Yrasljn
LdAiZhA
oOwliE
TQZQkis
xKUcTcT
hsoLIP
EPFWxJXK
OgkkNpX
bkSOOMwh
bttNlH
sQeQBq
aivvMh
CpdzHrq
VBUfkO
UcUKbhh
yLprShmZ
ezNtjz
LREeJV
UjkhBnXr
xhGfGo
OlXuWixW
AUYCnsA
bBCmRv
PiwGmpJ
sETlvcNu
iGTHoVee
LRpAKU
ONYsfOWi
TFLdUL
kEHHKzO
KIQWkQzm
VohEUTyD
NQiYmYI
oMIliC
tiMYwFs
dKmjOwB
bdOYDJUY
vOBiGnGW
Tywwdee
WKbRwdSR
trXnjOpL
TmhAqCb
zNinfdD
pskOSrU
OnpCDMJ
tZKDvq
FDbWmZIX
pIGRgY
oontFC
DKDCUL
emNnPcgw
WlWnMZ
ntSJYEWV
BwKEGkln
Akgzxg
xInliMZ
zPFiIfP
nGHuBZdC
aRzsMX
JJshJLjW
MRAlivIQ
mKuEOWH
eWSXIXA
wFFjIxU
EByfgH
HNkcYY
tTxUjJAz
ekdzUf
FRxoYCH
HBbYnfqt
fjuYHuzd
gsxUwu


WAP to print all prime numbers between 600 and 800.

In [8]:
def primeno(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 1
  return 0
for i in range(601,800):
  if(primeno(i)==0):
    print(f"{i} is a prime no")

601 is a prime no
607 is a prime no
613 is a prime no
617 is a prime no
619 is a prime no
631 is a prime no
641 is a prime no
643 is a prime no
647 is a prime no
653 is a prime no
659 is a prime no
661 is a prime no
673 is a prime no
677 is a prime no
683 is a prime no
691 is a prime no
701 is a prime no
709 is a prime no
719 is a prime no
727 is a prime no
733 is a prime no
739 is a prime no
743 is a prime no
751 is a prime no
757 is a prime no
761 is a prime no
769 is a prime no
773 is a prime no
787 is a prime no
797 is a prime no

In [9]:
def div7_9(n):
  if(n%7==0 & n%9==0):
    return 1
for i in range(101,1000):
  if(div7_9(i)==1):
    print(f"{i} is divisible by both 7 and 9")

105 is divisible by both 7 and 9
112 is divisible by both 7 and 9
119 is divisible by both 7 and 9
126 is divisible by both 7 and 9
133 is divisible by both 7 and 9
140 is divisible by both 7 and 9
147 is divisible by both 7 and 9
154 is divisible by both 7 and 9
161 is divisible by both 7 and 9
168 is divisible by both 7 and 9
175 is divisible by both 7 and 9
182 is divisible by both 7 and 9
189 is divisible by both 7 and 9
196 is divisible by both 7 and 9
203 is divisible by both 7 and 9
210 is divisible by both 7 and 9
217 is divisible by both 7 and 9
224 is divisible by both 7 and 9
231 is divisible by both 7 and 9
238 is divisible by both 7 and 9
245 is divisible by both 7 and 9
252 is divisible by both 7 and 9
259 is divisible by both 7 and 9
266 is divisible by both 7 and 9
273 is divisible by both 7 and 9
280 is divisible by both 7 and 9
287 is divisible by both 7 and 9
294 is divisible by both 7 and 9
301 is divisible by both 7 and 9
308 is divisible by both 7 and 9
315 is divisible by both 7 and 9
322 is divisible by both 7 and 9
329 is divisible by both 7 and 9
336 is divisible by both 7 and 9
343 is divisible by both 7 and 9
350 is divisible by both 7 and 9
357 is divisible by both 7 and 9
364 is divisible by both 7 and 9
371 is divisible by both 7 and 9
378 is divisible by both 7 and 9
385 is divisible by both 7 and 9
392 is divisible by both 7 and 9
399 is divisible by both 7 and 9
406 is divisible by both 7 and 9
413 is divisible by both 7 and 9
420 is divisible by both 7 and 9
427 is divisible by both 7 and 9
434 is divisible by both 7 and 9
441 is divisible by both 7 and 9
448 is divisible by both 7 and 9
455 is divisible by both 7 and 9
462 is divisible by both 7 and 9
469 is divisible by both 7 and 9
476 is divisible by both 7 and 9
483 is divisible by both 7 and 9
490 is divisible by both 7 and 9
497 is divisible by both 7 and 9
504 is divisible by both 7 and 9
511 is divisible by both 7 and 9
518 is divisible by both 7 and 9
525 is divisible by both 7 and 9
532 is divisible by both 7 and 9
539 is divisible by both 7 and 9
546 is divisible by both 7 and 9
553 is divisible by both 7 and 9
560 is divisible by both 7 and 9
567 is divisible by both 7 and 9
574 is divisible by both 7 and 9
581 is divisible by both 7 and 9
588 is divisible by both 7 and 9
595 is divisible by both 7 and 9
602 is divisible by both 7 and 9
609 is divisible by both 7 and 9
616 is divisible by both 7 and 9
623 is divisible by both 7 and 9
630 is divisible by both 7 and 9
637 is divisible by both 7 and 9
644 is divisible by both 7 and 9
651 is divisible by both 7 and 9
658 is divisible by both 7 and 9
665 is divisible by both 7 and 9
672 is divisible by both 7 and 9
679 is divisible by both 7 and 9
686 is divisible by both 7 and 9
693 is divisible by both 7 and 9
700 is divisible by both 7 and 9
707 is divisible by both 7 and 9
714 is divisible by both 7 and 9
721 is divisible by both 7 and 9
728 is divisible by both 7 and 9
735 is divisible by both 7 and 9
742 is divisible by both 7 and 9
749 is divisible by both 7 and 9
756 is divisible by both 7 and 9
763 is divisible by both 7 and 9
770 is divisible by both 7 and 9
777 is divisible by both 7 and 9
784 is divisible by both 7 and 9
791 is divisible by both 7 and 9
798 is divisible by both 7 and 9
805 is divisible by both 7 and 9
812 is divisible by both 7 and 9
819 is divisible by both 7 and 9
826 is divisible by both 7 and 9
833 is divisible by both 7 and 9
840 is divisible by both 7 and 9
847 is divisible by both 7 and 9
854 is divisible by both 7 and 9
861 is divisible by both 7 and 9
868 is divisible by both 7 and 9
875 is divisible by both 7 and 9
882 is divisible by both 7 and 9
889 is divisible by both 7 and 9
896 is divisible by both 7 and 9
903 is divisible by both 7 and 9
910 is divisible by both 7 and 9
917 is divisible by both 7 and 9
924 is divisible by both 7 and 9
931 is divisible by both 7 and 9
938 is divisible by both 7 and 9
945 is divisible by both 7 and 9
952 is divisible by both 7 and 9
959 is divisible by both 7 and 9
966 is divisible by both 7 and 9
973 is divisible by both 7 and 9
980 is divisible by both 7 and 9
987 is divisible by both 7 and 9
994 is divisible by both 7 and 9

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find (i) Common numbers in the two lists (ii) Unique numbers in both the list (iii) Minimum in both the list (iv) Maximum in both the list (v) Sum of both the lists

In [10]:
import random as r
L1=r.sample(range(10,30),10)
L2=r.sample(range(10,30),10)
print(L1)
print(L2)

[23, 25, 13, 22, 24, 18, 26, 21, 17, 12]
[17, 14, 21, 11, 27, 20, 22, 12, 26, 19]

(i) Common numbers in the two lists

In [11]:
L3=[]
for i in L1:
  for j in L2:
    if(i==j):
      L3.append(i)
      print(L3,"is list of common no.s")

[22] is list of common no.s
[22, 26] is list of common no.s
[22, 26, 21] is list of common no.s
[22, 26, 21, 17] is list of common no.s
[22, 26, 21, 17, 12] is list of common no.s

In [12]:
L4=L1+L2
min(L4)

11

In [13]:
max(L4)

27

In [14]:
sum(L4)

390

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: (i) All odd numbers (ii) All even numbers (iii) All prime numbers

In [ ]:
import random as r
L=r.sample(range(101,900),100)

In [17]:
def odd(n):
  if n%2==0:
    return 1
  return 0
L1=[]
for i in L:
  if(odd(i)==0)):
    L1.append(i)
L1

SyntaxError: unmatched ')' (<ipython-input-17-1751a67e37b4>, line 7)

In [19]:
L1=[]
def even(n):
  if n%2==0:
    return 1
  return 0
for i in range(101,900):
  if(even(i)==1):
    L1.append(i)
L1

[102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898]